body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:460px;
  top:0px;
  width:300px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:11px;
  width:197px;
  height:28px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:30px;
  top:72px;
  width:411px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:230px;
  top:173px;
  width:700px;
  height:292px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:292px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:110px;
  width:60px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:100px;
  top:110px;
  width:60px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:170px;
  top:110px;
  width:98px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:277px;
  top:110px;
  width:98px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:328px;
  width:97px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:30px;
  top:510px;
  width:124px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:579px;
  top:510px;
  width:125px;
  height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:34px;
  top:551px;
  width:92px;
  height:107px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:107px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:579px;
  top:551px;
  width:351px;
  height:260px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:260px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:258px;
  top:745px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:258px;
  top:510px;
  width:100px;
  height:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:30px;
  top:372px;
  width:162px;
  height:58px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:58px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:730px;
  top:72px;
  width:200px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:589px;
  top:843px;
  width:341px;
  height:110px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:110px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:830px;
  top:968px;
  width:100px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44 {
  position:absolute;
  left:258px;
  top:548px;
  width:237px;
  height:168px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:168px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:18px;
  top:173px;
  width:202px;
  height:135px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:135px;
}
#u47 {
  position:absolute;
  left:2px;
  top:60px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:58px;
  top:320px;
  width:118px;
  height:25px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:34px;
  top:745px;
  width:100px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
