body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:460px;
  top:0px;
  width:300px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:11px;
  width:197px;
  height:28px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:40px;
  top:60px;
  width:514px;
  height:519px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:519px;
}
#u14 {
  position:absolute;
  left:2px;
  top:252px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:579px;
  width:516px;
  height:510px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:510px;
}
#u16 {
  position:absolute;
  left:2px;
  top:247px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:31px;
  top:967px;
  width:534px;
  height:433px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:433px;
}
#u18 {
  position:absolute;
  left:2px;
  top:208px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:31px;
  top:1425px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
